@font-face {
  font-family: 'basis-grotesque-regular';
  src: url('./basis-grotesque/basis-grotesque-regular-pro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'basis-grotesque-light';
  src: url('./basis-grotesque/basis-grotesque-light-pro.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'basis-grotesque-medium';
  src: url('./basis-grotesque/basis-grotesque-medium-pro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'basis-grotesque-bold';
  src: url('./basis-grotesque/basis-grotesque-bold-pro.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


